* {
  font-family: 'Libre Baskerville', serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.barra {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#general {
  display: grid;
  border: solid 1px black;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  margin: auto;
  background: white;
  font-family: "Helvetica";
  padding: 10px;
}

#texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  justify-items: center;
  align-content: center;
}

#texto p {
  font-size: 1.5em;
}

button {
  font-size: 1.5em;
  font-family: 'Amarante', serif;
  cursor: pointer;
}

#contenedor-igrama {
  filter: grayscale(1);
}

#promo p {
  padding: 1em;
  text-align: center;
}

#promo-img {
  margin: auto;
  max-width: 100px;
}

#promo-img img {
  width: 100%;
}

#imagen img {
  height: 600px;
  border-radius: 10px;
}
